.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.Navbar Link {
  margin: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: green;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.Navbar Link:hover,
.Navbar Link:active
{
    color: red;
}