.Navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px black;
  opacity: 0.9;
}

.NavLink {
  margin: 0;
  box-sizing: border-box;
  /* border-color: black;
  border-style: solid; */
  border-width: 2px;
  text-align: center;
  display: block;
  width: 100%;
  color: green;
  text-decoration: none;
  width: 100%;
}

.NavLink:hover,
.NavLink:active
{
    color: red;
}

.Title {
  color: black;
  font-size: x-large;
  font-weight: bold;
  box-sizing: border-box;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  display: block;
  width: 100%;
  color: green;
  text-decoration: none;
  width: 100%;
}


.NavBar button {
  color: red;
}